<p style="font-family: Arial, sans-serfi;">Estimado <%= @user.name %>,</p>

<p style="font-family: Arial, sans-serfi;">Debo informarte que el tiempo de evaluaci贸n de las tareas que se te asignar贸n ya expir贸.</p>

<p style="font-family: Arial, sans-serfi;">Por lo que todas tus asignaci贸nes pendientes se aceptaron automaticamente ya que no alcanzaste a evaluarlas.</p>

<p style="font-family: Arial, sans-serfi;">Atte. Last Planner Push.</p>