<p style="font-family: Arial, sans-serfi;">Estimado <%= @user.name %>,</p>

<p style="font-family: Arial, sans-serfi;">Debo informarte que al tiempo de evaluación de las tareas que se te asignarón le quedan 3 horas para que expire.</p>

<p style="font-family: Arial, sans-serfi;">Por lo que debes apresurarte en evaluar todas tus asignaciónes pendientes que faltan.</p>

<p style="font-family: Arial, sans-serfi;">Atte. Last Planner Push.</p>