.sub-title.clearfix
  - if @activity.parent_id.nil?
    %h2 Editar actividad
  - else
    %h2 Editar tarea

  .pull-right
    = link_to 'Cancelar', activities_project_path(@project), class: 'btn btn-default'
    = link_to 'Guardar', nil, class: 'btn btn-success', 'data-submit' => 'activity_form'

.separator

.main-content
  = render 'form'
  .clearfix