<div class="name">
  <span class="icon">+</span>
  <input type="text" class="activity-name form-control" placeholder="Nueva actividad">
  <select class="assigned-id with-selectize-stickit" placeholder="Sin asignar"></select>
</div>

<div class="extra-info">
  <textarea class="form-control with-autosize description" placeholder="Descripción (Opcional)"></textarea>

  <div class="action-buttons clearfix">
{{!--     <div class="pull-left">
      <span class="select-date-btn">
        <i class="fa fa-calendar"></i>
      </span>
    </div> --}}

    <div class="pull-right">
      <button class="btn btn-sm btn-success">Guardar</button>
      <a href="#" class="btn btn-sm btn-link cancel-btn">Cancelar</a>
    </div>
  </div>
</div>
