<h5 class="milestone-heading">
  H-{{milestone.id}} - {{milestone.name}}
  <span class="meta">
    {{!-- l(milestone.end_date, format: :default) --}}
  </span>
</h5>

<div class="activities-list"></div>
